### Evaluation Notebook

Evaluating the predictions from the forecasting competition on Chennai Water data.

#### Setup

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

from sklearn.metrics import mean_squared_error, mean_absolute_error

In [6]:
test_data = pd.read_csv('test_reservoir_levels.csv', index_col=0, parse_dates=True)
test = test_data.apply(sum, axis=1).to_frame()
test.columns = ['actual']
test.head()

            actual
Date
2019-01-01  1389.0
2019-01-02  1376.0
2019-01-03  1364.0
2019-01-04  1351.0
2019-01-05  1338.0

#### Evaluation

We evaluate the peformance of predictions using RMSE and MAE.

In [16]:
results = pd.DataFrame(columns=['Deepak', 'Nishant'], index=['RMSE', 'MAE'])

results.loc['RMSE', 'Deepak'] = round(np.sqrt(mean_squared_error(test['actual'], test['deepak'])), 3)
results.loc['MAE', 'Deepak'] = round(mean_absolute_error(test['actual'], test['deepak']), 3)

results.loc['RMSE', 'Nishant'] = round(np.sqrt(mean_squared_error(test['actual'], test['nishant'])), 3)
results.loc['MAE', 'Nishant'] = round(mean_absolute_error(test['actual'], test['nishant']), 3)

In [17]:
results

       Deepak  Nishant
RMSE     1455  2163.56
MAE   1204.43  1896.61

Deepak is the resounding winner!